{% extends 'base.html' %}

{% block content %}

<h2>🔥 Live Offers</h2>

<div class="grid">
{% for offer in offers %}
    <div class="card">
        <h3>{{ offer[1] }}</h3>
        <p><b>{{ offer[2] }}</b></p>
        <p>📅 {{ offer[3] }} → {{ offer[4] }}</p>
    </div>
{% endfor %}
</div>

<hr>

<h2>🏬 Shops</h2>

<div class="grid">
{% for shop in shops %}
    <div class="card">
        <h3>{{ shop[1] }}</h3>
        <p><b>Owner:</b> {{ shop[2] }}</p>
        <p><b>Category:</b> {{ shop[3] }}</p>
        <p><b>Location:</b> {{ shop[4] }}</p>

        {% if role == 'admin' %}
            <a class="btn" href="/delete/{{ shop[0] }}">Delete</a>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}